{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/admin/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add Admin
            </a>

            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">

                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    </span>

                    </div><!-- /input-group -->
                </form>
            </div>
            {#                <a class="btn btn-success" href="modeladd/">#}
            {#                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>#}
            {#                    Add Number ModelForm#}
            {#                </a>#}
        </div>
        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    User List
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Reset Password</th>
                        <th>Method</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for item in page_queryset %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.username }}</td>
                            <td>{{ item.password }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/admin/{{ item.id }}/reset/">Reset Password</a>

                            </td>

                            <td>
                                <a class="btn btn-primary btn-xs" href="/admin/{{ item.id }}/edit/">Edit</a>
                                <a class="btn btn-danger btn-xs" href="/admin/{{ item.id }}/delete/">Delete</a>

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                {{ page_string }}

            </ul>
        </nav>
    </div>
{% endblock %}